[Unit]
Description=Service to renew letsencrypt certs

[Service]
Type=simple

## NOTE
# (1) comment out one of the following ExecStart
# (2) check if the path to certbot is correct
# (3) check if the credentials file is correct

## cloudflare
#ExecStart=/usr/bin/certbot renew --non-interactive --agree-tos --preferred-challenges dns --authenticator dns-cloudflare --dns-cloudflare-credentials /etc/certbot/cloudflare.ini --dns-cloudflare-propagation-seconds 10

## porkbun
#ExecStart=/usr/bin/certbot renew --non-interactive --agree-tos --preferred-challenges dns --authenticator dns-porkbun --dns-porkbun-credentials /etc/certbot/porkbun.ini --dns-porkbun-propagation-seconds 10

[Install]
WantedBy=multi-user.target
